body {
    background-color: #393E46;
    text-align: center;
}

h1 {
    font-family: Lobster, serif;
    font-weight: bold;
    font-size: 125px;
    color: #4ECCA3;
    text-shadow: 5px 0 #232931;
    margin: 20px auto;
}

.dice-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.dice {
    margin: 5%;
}

.player-number {
    font-family: Indie Flower, serif;
    font-size: 35px;
    color: #4ECCA3;
}

.btn {
    font-family: Indie Flower, serif;
    font-weight: bold;
    font-size: 25px;
    background-color: #4ECCA3;
    color: #232931;
    border: none;
    border-radius: 8px;
    padding: 15px 75px;
    margin: 50px;
    box-shadow: 0 5px #232931;
    outline: none;
}

.btn:active {
    box-shadow: 0 0 5px #fff;
}